Repository persistenceOne/pstake-native, pull requests merged in 2023-07, with the labels that each got.

#599 add pr lint
  .github/workflows/lint-pr.yml
Labels: T:CI

#600 chore: Bump sdk v47 and latest persistence-sdk
  cmd/pstaked/cmd/testnet.go
  go.mod
  go.sum
  proto/buf.lock
  proto/buf.yaml
Labels: C:app-wiring

#603 fix: add extra migration.
  CHANGELOG.md
  x/lscosmos/keeper/migrate_module.go
Labels: C:x/lscosmos

#605 ci: add changelog reminder
  .github/workflows/changelog-reminder.yml
Labels: T:CI
