Repository persistenceOne/pstake-native, pull requests merged in 2023-12, with the labels that each got.

#685 fix!: condition that makes redelegation happen on unbonding epoch.
  CHANGELOG.md
  x/liquidstakeibc/keeper/hooks.go
Labels: C:x/liquidstakeibc

#687 feat: add queries to new dbs created for redelegations
  CHANGELOG.md
  proto/pstake/liquidstakeibc/v1beta1/query.proto
  x/liquidstakeibc/client/query.go
  x/liquidstakeibc/keeper/grpc_querier.go
  x/liquidstakeibc/keeper/grpc_querier_test.go
  x/liquidstakeibc/keeper/redelegation_txs.go
  x/liquidstakeibc/keeper/redelegation_txs_test.go
  x/liquidstakeibc/types/query.pb.go
  x/liquidstakeibc/types/query.pb.gw.go
Labels: C:CLI, C:x/liquidstakeibc

#689 fix: command helper strings
  x/liquidstakeibc/client/query.go
Labels: C:CLI, C:x/liquidstakeibc

#684 feat: liquidstake module
  Makefile
  go.mod
  go.sum
  proto/pstake/liquidstake/v1beta1/genesis.proto
  proto/pstake/liquidstake/v1beta1/liquidstake.proto
  proto/pstake/liquidstake/v1beta1/query.proto
  proto/pstake/liquidstake/v1beta1/tx.proto
  proto/pstake/liquidstakeibc/v1beta1/liquidstakeibc.proto
  proto/pstake/liquidstakeibc/v1beta1/msgs.proto
  proto/pstake/liquidstakeibc/v1beta1/params.proto
  proto/pstake/liquidstakeibc/v1beta1/query.proto
  proto/pstake/lscosmos/v1beta1/query.proto
  x/liquidstake/abci.go
  x/liquidstake/client/cli/query.go
  x/liquidstake/client/cli/tx.go
  x/liquidstake/handler.go
  x/liquidstake/keeper/genesis.go
  x/liquidstake/keeper/grpc_query.go
  x/liquidstake/keeper/hooks.go
  x/liquidstake/keeper/keeper.go
  x/liquidstake/keeper/liquidstake.go
  x/liquidstake/keeper/msg_server.go
  x/liquidstake/keeper/rebalancing.go
  x/liquidstake/module.go
  x/liquidstake/types/codec.go
  x/liquidstake/types/errors.go
  x/liquidstake/types/events.go
  x/liquidstake/types/expected_keepers.go
  x/liquidstake/types/genesis.go
  x/liquidstake/types/genesis.pb.go
  x/liquidstake/types/keys.go
  x/liquidstake/types/liquidstake.go
  x/liquidstake/types/liquidstake.pb.go
  x/liquidstake/types/msgs.go
  x/liquidstake/types/params.go
  x/liquidstake/types/query.pb.go
  x/liquidstake/types/query.pb.gw.go
  x/liquidstake/types/rebalancing.go
  x/liquidstake/types/tx.pb.go
  x/liquidstakeibc/client/query.go
  x/liquidstakeibc/client/tx.go
  x/liquidstakeibc/types/liquidstakeibc.pb.go
  x/liquidstakeibc/types/query.pb.go
Labels: C:app-wiring, C:CLI, C:x/liquidstakeibc, T:build

#701 refactor: add method to derive hostDenom from mintDenom and reverse.
  x/liquidstakeibc/keeper/msg_server.go
  x/liquidstakeibc/types/host_chain.go
  x/liquidstakeibc/types/liquidstakeibc.go
Labels: C:x/liquidstakeibc

#704 fix: fix ibc routing issues, and fix portID representation.
  app/app.go
  x/liquidstakeibc/keeper/ibc.go
  x/ratesync/keeper/abci.go
  x/ratesync/keeper/ibc.go
  x/ratesync/keeper/msg_server.go
  x/ratesync/module_ibc.go
  x/ratesync/types/genesis_test.go
  x/ratesync/types/msgs.go
  x/ratesync/types/msgs_test.go
  x/ratesync/types/types.go
Labels: C:app-wiring, C:x/liquidstakeibc

#700 feat: Sprint of improvements for stkxprt / liquidstake
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  .golangci.yml
  app/app.go
  app/helpers/test_helpers.go
  go.mod
  proto/pstake/liquidstake/v1beta1/liquidstake.proto
  proto/pstake/liquidstakeibc/v1beta1/liquidstakeibc.proto
  x/liquidstake/abci.go
  x/liquidstake/handler.go
  x/liquidstake/keeper/genesis.go
  x/liquidstake/keeper/genesis_test.go
  x/liquidstake/keeper/grpc_query.go
  x/liquidstake/keeper/grpc_query_test.go
  x/liquidstake/keeper/keeper_test.go
  x/liquidstake/keeper/liquidstake.go
  x/liquidstake/keeper/liquidstake_test.go
  x/liquidstake/keeper/msg_server.go
  x/liquidstake/keeper/rebalancing.go
  x/liquidstake/keeper/rebalancing_test.go
  x/liquidstake/module.go
  x/liquidstake/types/errors.go
  x/liquidstake/types/events.go
  x/liquidstake/types/expected_keepers.go
  x/liquidstake/types/genesis.go
  x/liquidstake/types/genesis_test.go
  x/liquidstake/types/liquidstake.go
  x/liquidstake/types/liquidstake.pb.go
  x/liquidstake/types/liquidstake_test.go
  x/liquidstake/types/msgs.go
  x/liquidstake/types/msgs_test.go
  x/liquidstake/types/params.go
  x/liquidstake/types/params_test.go
  x/liquidstake/types/rebalancing.go
  x/liquidstake/types/rebalancing_test.go
  x/liquidstakeibc/keeper/host_chain_test.go
  x/liquidstakeibc/keeper/icq.go
Labels: T:CI, C:app-wiring, C:x/liquidstakeibc, C:x/liquidstake

#703 feat: create ratesync module.
  CHANGELOG.md
  app/app.go
  app/const.go
  go.mod
  proto/pstake/ratesync/v1beta1/contract.proto
  proto/pstake/ratesync/v1beta1/genesis.proto
  proto/pstake/ratesync/v1beta1/params.proto
  proto/pstake/ratesync/v1beta1/query.proto
  proto/pstake/ratesync/v1beta1/ratesync.proto
  proto/pstake/ratesync/v1beta1/tx.proto
  x/liquidstakeibc/keeper/ibc.go
  x/liquidstakeibc/keeper/keeper.go
  x/liquidstakeibc/types/hooks.go
  x/ratesync/client/cli/query.go
  x/ratesync/client/cli/tx.go
  x/ratesync/genesis.go
  x/ratesync/genesis_test.go
  x/ratesync/keeper/abci.go
  x/ratesync/keeper/chain.go
  x/ratesync/keeper/chain_test.go
  x/ratesync/keeper/hooks.go
  x/ratesync/keeper/ibc.go
  x/ratesync/keeper/ica_tx.go
  x/ratesync/keeper/keeper.go
  x/ratesync/keeper/msg_server.go
  x/ratesync/keeper/msg_server_test.go
  x/ratesync/keeper/params.go
  x/ratesync/keeper/params_test.go
  x/ratesync/keeper/query.go
  x/ratesync/keeper/query_test.go
  x/ratesync/keeper/setup_suite_test.go
  x/ratesync/module.go
  x/ratesync/module_ibc.go
  x/ratesync/module_simulation.go
  x/ratesync/simulation/helpers.go
  x/ratesync/simulation/msg_update_params.go
  x/ratesync/types/codec.go
  x/ratesync/types/contract.pb.go
  x/ratesync/types/errors.go
  x/ratesync/types/events.go
  x/ratesync/types/expected_keepers.go
  x/ratesync/types/genesis.go
  x/ratesync/types/genesis.pb.go
  x/ratesync/types/genesis_test.go
  x/ratesync/types/keys.go
  x/ratesync/types/msgs.go
  x/ratesync/types/msgs_test.go
  x/ratesync/types/params.go
  x/ratesync/types/params.pb.go
  x/ratesync/types/query.pb.go
  x/ratesync/types/query.pb.gw.go
  x/ratesync/types/ratesync.pb.go
  x/ratesync/types/tx.pb.go
  x/ratesync/types/types.go
  x/ratesync/types/types_test.go
Labels: C:app-wiring, C:CLI, C:x/liquidstakeibc

#707 fix: instant redeem
  CHANGELOG.md
  x/liquidstakeibc/keeper/deposit.go
  x/liquidstakeibc/keeper/deposit_test.go
  x/liquidstakeibc/keeper/msg_server.go
  x/liquidstakeibc/types/errors.go
Labels: C:x/liquidstakeibc
