Repository persistenceOne/pstake-native, pull requests merged in 2023-09, with the labels that each got.

#631 feat: add telemetry to measure time taken in begin/end block
  CHANGELOG.md
  x/liquidstakeibc/module.go
Labels: C:app-wiring, C:x/liquidstakeibc

#637 fix: LSM Bond Factor Validation
  CHANGELOG.md
  x/liquidstakeibc/types/msgs.go
  x/liquidstakeibc/types/msgs_test.go
Labels: C:x/liquidstakeibc

#639 fix: LSM cap room bug
  CHANGELOG.md
  go.mod
  go.sum
  x/liquidstakeibc/keeper/host_chain.go
  x/liquidstakeibc/keeper/host_chain_test.go
  x/liquidstakeibc/keeper/setup_suite_test.go
Labels: C:x/liquidstakeibc

#642 fix: gh-action: update action on push to main
  .github/workflows/test.yml
Labels: T:CI

#644 chore: recompile protos to add relevant comments
  x/liquidstakeibc/types/liquidstakeibc.pb.go
Labels: C:x/liquidstakeibc

#643 fix: Puneet/resetlscosmos
  CHANGELOG.md
  app/app.go
  proto/pstake/lscosmos/v1beta1/genesis.proto
  proto/pstake/lscosmos/v1beta1/governance_proposal.proto
  proto/pstake/lscosmos/v1beta1/lscosmos.proto
  proto/pstake/lscosmos/v1beta1/msgs.proto
  proto/pstake/lscosmos/v1beta1/params.proto
  proto/pstake/lscosmos/v1beta1/query.proto
  x/lscosmos/module.go
  x/lscosmos/types/codec.go
  x/lscosmos/types/genesis.pb.go
  x/lscosmos/types/governance_proposal.go
  x/lscosmos/types/governance_proposal.pb.go
  x/lscosmos/types/keys.go
  x/lscosmos/types/lscosmos.pb.go
  x/lscosmos/types/msgs.go
  x/lscosmos/types/msgs.pb.go
  x/lscosmos/types/msgs.pb.gw.go
  x/lscosmos/types/params.pb.go
  x/lscosmos/types/query.pb.go
  x/lscosmos/types/query.pb.gw.go
Labels: C:app-wiring

#652 fix: add MsgLiquidStakeLSM to amino codec
  x/liquidstakeibc/types/codec.go
Labels: C:x/liquidstakeibc

#654 chore: update proto annotations
  proto/pstake/liquidstakeibc/v1beta1/msgs.proto
  proto/pstake/liquidstakeibc/v1beta1/params.proto
  x/liquidstakeibc/types/codec.go
  x/liquidstakeibc/types/msgs.pb.go
  x/liquidstakeibc/types/params.pb.go
Labels: C:x/liquidstakeibc
