Repository persistenceOne/pstake-native, pull requests merged in 2023-08, with the labels that each got.

#604 fix: Create en empty deposit when a host chain is registered
  CHANGELOG.md
  x/liquidstakeibc/keeper/msg_server.go
Labels: C:x/liquidstakeibc

#607 fix: cast []coin to coins in lsmliquidstake
  app/const.go
  proto/pstake/liquidstakeibc/v1beta1/msgs.proto
  x/liquidstakeibc/client/tx.go
  x/liquidstakeibc/keeper/msg_server.go
  x/liquidstakeibc/keeper/msg_server_test.go
  x/liquidstakeibc/types/liquidstakeibc.pb.go
  x/liquidstakeibc/types/msgs.go
  x/liquidstakeibc/types/msgs.pb.go
  x/liquidstakeibc/types/msgs_test.go
Labels: C:app-wiring, C:CLI, C:x/liquidstakeibc

#610 feat: add aliases for liquidstakeibc module
  x/liquidstakeibc/client/query.go
  x/liquidstakeibc/client/tx.go
Labels: C:CLI, C:x/liquidstakeibc

#612 chore: LSM Migration
  app/app.go
  app/const.go
  x/liquidstakeibc/keeper/migrations.go
  x/liquidstakeibc/migrations/v2/store.go
  x/liquidstakeibc/module.go
Labels: C:app-wiring, C:x/liquidstakeibc

#613 add flags field and set to false
  x/lscosmos/keeper/migrate_module.go
Labels: C:x/lscosmos

#616 chore: cleanup newkeeper input params
  x/liquidstakeibc/keeper/keeper.go
Labels: C:x/liquidstakeibc

#617 chore: Audit updates
  x/liquidstakeibc/keeper/host_chain.go
  x/liquidstakeibc/module_ibc.go
  x/liquidstakeibc/spec/README.md
Labels: C:x/liquidstakeibc, C:docs

#620 chore: Audit updates
  x/liquidstakeibc/keeper/msg_server.go
Labels: C:x/liquidstakeibc

#621 fix: ICA recreation timeout
  CHANGELOG.md
  app/app.go
  app/constants.go
  x/liquidstakeibc/client/query.go
  x/liquidstakeibc/client/tx.go
  x/liquidstakeibc/keeper/abci.go
  x/liquidstakeibc/keeper/grpc_querier_test.go
  x/liquidstakeibc/keeper/ibc.go
  x/liquidstakeibc/keeper/msg_server.go
  x/liquidstakeibc/types/msgs.go
  x/liquidstakeibc/types/params.go
  x/liquidstakeibc/types/params_test.go
Labels: C:app-wiring, C:CLI, C:x/liquidstakeibc

#624 docs: update README.md
  README.md
Labels: C:docs

#628 chore: cleanup scripts
  .github/labeler.yml
  .github/workflows/test.yml
  scripts/data/change_pstake_address_proposal.json
  scripts/data/jump_start.json
  scripts/data/lspersistence-udpate-params.json
  scripts/start.sh
Labels: T:CI, T:build

#629 chore: update upgrade names.
  app/app.go
  app/const.go
Labels: C:app-wiring
