Repository persistenceOne/pstake-native, pull requests merged in 2024-02, with the labels that each got.

#755 feat: Puneet/update ratesync
  CHANGELOG.md
  proto/pstake/ratesync/v1beta1/contract.proto
  proto/pstake/ratesync/v1beta1/genesis.proto
  proto/pstake/ratesync/v1beta1/params.proto
  proto/pstake/ratesync/v1beta1/query.proto
  proto/pstake/ratesync/v1beta1/ratesync.proto
  proto/pstake/ratesync/v1beta1/tx.proto
  x/liquidstakeibc/types/params.pb.go
  x/ratesync/keeper/chain_test.go
  x/ratesync/keeper/ibc_test.go
  x/ratesync/keeper/ica_tx.go
  x/ratesync/keeper/ica_tx_test.go
  x/ratesync/keeper/msg_server.go
  x/ratesync/types/contract.pb.go
  x/ratesync/types/msgs_test.go
  x/ratesync/types/ratesync.pb.go
  x/ratesync/types/types.go
  x/ratesync/types/types_test.go
Labels: C:x/liquidstakeibc, C:x/ratesync

#756 feat: add query for singular host-chain
  x/liquidstakeibc/client/query.go
Labels: C:CLI, C:x/liquidstakeibc

#757 feat: use ibc transfer timeouts instead of block height.
  CHANGELOG.md
  x/liquidstakeibc/keeper/hooks.go
  x/liquidstakeibc/keeper/ica.go
  x/liquidstakeibc/keeper/keeper.go
  x/liquidstakeibc/keeper/setup_suite_test.go
  x/liquidstakeibc/types/keys.go
Labels: C:x/liquidstakeibc

#758 feat: Dynamic c value limit updates
  CHANGELOG.md
  x/liquidstakeibc/keeper/keeper.go
  x/liquidstakeibc/keeper/keeper_test.go
  x/liquidstakeibc/types/events.go
  x/liquidstakeibc/types/keys.go
Labels: C:x/liquidstakeibc

#761 fix: instantiate ratesync ibc contracts with counterparty transfer rather …
  CHANGELOG.md
  x/ratesync/keeper/msg_server.go
Labels: C:x/ratesync

#760 feat: Improve C value updation
  CHANGELOG.md
  x/liquidstakeibc/keeper/hooks.go
  x/liquidstakeibc/keeper/icq.go
  x/liquidstakeibc/keeper/keeper.go
  x/liquidstakeibc/keeper/keeper_test.go
Labels: C:x/liquidstakeibc

#766 fix: stkXPRT audit fix rebased
  app/app.go
  proto/pstake/liquidstake/v1beta1/liquidstake.proto
  proto/pstake/liquidstake/v1beta1/tx.proto
  proto/pstake/ratesync/v1beta1/ratesync.proto
  x/liquidstake/abci.go
  x/liquidstake/client/cli/tx.go
  x/liquidstake/handler.go
  x/liquidstake/keeper/genesis_test.go
  x/liquidstake/keeper/grpc_query_test.go
  x/liquidstake/keeper/keeper_test.go
  x/liquidstake/keeper/liquidstake.go
  x/liquidstake/keeper/liquidstake_test.go
  x/liquidstake/keeper/msg_server.go
  x/liquidstake/keeper/rebalancing.go
  x/liquidstake/keeper/rebalancing_test.go
  x/liquidstake/types/codec.go
  x/liquidstake/types/errors.go
  x/liquidstake/types/events.go
  x/liquidstake/types/liquidstake.pb.go
  x/liquidstake/types/liquidstake_test.go
  x/liquidstake/types/msgs.go
  x/liquidstake/types/msgs_test.go
  x/liquidstake/types/params.go
  x/liquidstake/types/params_test.go
  x/liquidstake/types/tx.pb.go
Labels: C:app-wiring, C:CLI, C:x/liquidstake

#770 fix: make stkxprt staking respect and update global liquid staking cap
  x/liquidstake/keeper/liquidstake.go
  x/liquidstake/keeper/rebalancing.go
  x/liquidstake/types/errors.go
  x/liquidstake/types/expected_keepers.go
Labels: C:x/liquidstake

#774 fix: liquidstake params test
  x/liquidstake/types/params_test.go
Labels: C:x/liquidstake
