Repository persistenceOne/pstake-native, pull requests merged in 2024-03, with the labels that each got.

#773 chore: improve logging
  x/liquidstakeibc/keeper/abci.go
  x/liquidstakeibc/keeper/hooks.go
  x/liquidstakeibc/keeper/host_chain.go
  x/liquidstakeibc/keeper/ibc.go
  x/liquidstakeibc/keeper/ica.go
  x/liquidstakeibc/keeper/ica_handlers.go
  x/liquidstakeibc/keeper/icq.go
  x/liquidstakeibc/keeper/keeper.go
  x/liquidstakeibc/keeper/msg_server.go
  x/liquidstakeibc/types/logging.go
Labels: C:x/liquidstakeibc

#784 feat: add admin addr to params update
  x/liquidstake/keeper/msg_server.go
Labels: C:x/liquidstake

#785 chore: Prepare v2.11.0
  CHANGELOG.md
  x/liquidstake/keeper/hooks.go
Labels: C:x/liquidstake

#788 feat: allow gov in all admin txs
  x/liquidstake/keeper/msg_server.go
Labels: C:x/liquidstake

#787 refactor: have default module disabled in params.
  x/liquidstake/keeper/genesis_test.go
  x/liquidstake/keeper/liquidstake_test.go
  x/liquidstake/keeper/rebalancing_test.go
  x/liquidstake/types/liquidstake_test.go
  x/liquidstake/types/params.go
  x/liquidstake/types/params_test.go
Labels: C:x/liquidstake

#792 fix: use getChain from Host denom as rewards account too does MsgTransfer
  CHANGELOG.md
  x/liquidstakeibc/keeper/ibc.go
Labels: C:x/liquidstakeibc

#791 refactor: liquidstake lsm msg
  x/liquidstake/keeper/keeper_test.go
  x/liquidstake/keeper/liquidstake.go
  x/liquidstake/keeper/msg_server.go
  x/liquidstake/keeper/rebalancing.go
  x/liquidstake/keeper/rebalancing_test.go
Labels: C:x/liquidstake

#793 feat: Do not unbond when validator inactive
  x/liquidstake/keeper/liquidstake.go
  x/liquidstake/keeper/liquidstake_test.go
  x/liquidstake/keeper/rebalancing.go
  x/liquidstake/keeper/rebalancing_test.go
Labels: C:x/liquidstake

#795 fix: do not allow validators with zero weight to be LSM staked.
  CHANGELOG.md
  x/liquidstakeibc/keeper/msg_server.go
  x/liquidstakeibc/keeper/msg_server_test.go
Labels: C:x/liquidstakeibc

#797 feat: do unbonding with caps.
  x/liquidstake/keeper/liquidstake.go
  x/liquidstake/types/errors.go
  x/liquidstake/types/expected_keepers.go
Labels: C:x/liquidstake

#798 fix: lint
  x/liquidstake/keeper/liquidstake.go
Labels: C:x/liquidstake

#790 fix: liquidstake-fixes
  x/liquidstake/keeper/keeper_test.go
  x/liquidstake/keeper/liquidstake.go
  x/liquidstake/keeper/liquidstake_test.go
  x/liquidstake/keeper/msg_server.go
  x/liquidstake/keeper/rebalancing.go
  x/liquidstake/keeper/rebalancing_test.go
  x/liquidstake/types/errors.go
  x/liquidstake/types/expected_keepers.go
  x/liquidstake/types/liquidstake_test.go
Labels: C:x/liquidstake

#799 fix: remove proxy acc usage
  CHANGELOG.md
  app/app.go
  x/liquidstake/keeper/keeper.go
  x/liquidstake/keeper/keeper_test.go
  x/liquidstake/keeper/liquidstake.go
  x/liquidstake/keeper/liquidstake_test.go
  x/liquidstake/keeper/rebalancing.go
  x/liquidstake/keeper/rebalancing_test.go
  x/liquidstake/types/expected_keepers.go
  x/liquidstake/types/liquidstake.go
  x/liquidstake/types/params.go
Labels: C:app-wiring, C:x/liquidstake

#801 feat: use msg handler to withdraw rewards
  x/liquidstake/keeper/liquidstake.go
Labels: C:x/liquidstake

#800 fix: remove proxy acc usage
  CHANGELOG.md
  app/app.go
  x/liquidstake/keeper/keeper.go
  x/liquidstake/keeper/keeper_test.go
  x/liquidstake/keeper/liquidstake.go
  x/liquidstake/keeper/liquidstake_test.go
  x/liquidstake/keeper/rebalancing.go
  x/liquidstake/keeper/rebalancing_test.go
  x/liquidstake/types/expected_keepers.go
  x/liquidstake/types/liquidstake.go
  x/liquidstake/types/params.go
Labels: C:app-wiring, C:x/liquidstake

#802 fix: autocompound partial commit fee
  x/liquidstake/keeper/rebalancing.go
Labels: C:x/liquidstake

#803 chore: sdk v0.47.10 + deps version bump
  app/helpers/test_helpers.go
  go.mod
  go.sum
Labels: C:app-wiring
