Repository persistenceOne/pstake-native, pull requests merged in 2024-01, with the labels that each got.

#710 chore: fix typos
  CHANGELOG.md
  CONTRIBUTING.md
  app/params/doc.go
  interchaintest/ibc_transfer_test.go
  proto/pstake/ratesync/v1beta1/ratesync.proto
  x/liquidstakeibc/spec/README.md
  x/liquidstakeibc/types/errors.go
  x/liquidstakeibc/types/genesis.go
  x/liquidstakeibc/types/genesis_test.go
  x/lscosmos/types/codec.go
  x/ratesync/types/ratesync.pb.go
Labels: C:app-wiring, C:x/lscosmos, C:x/liquidstakeibc, C:docs

#711 chore: update labeler.yml for ratesync label.
  .github/labeler.yml
Labels: T:CI

#712 chore: reorg imports to make linter happy.
  app/encoding.go
  app/export.go
  app/sim_test.go
  cmd/pstaked/cmd/genaccounts.go
  cmd/pstaked/cmd/testnet.go
  cmd/pstaked/main.go
  interchaintest/setup.go
  x/liquidstake/client/cli/query.go
  x/liquidstake/client/cli/tx.go
  x/liquidstake/keeper/grpc_query.go
  x/liquidstake/keeper/grpc_query_test.go
  x/liquidstake/keeper/keeper_test.go
  x/liquidstake/keeper/liquidstake.go
  x/liquidstake/module.go
  x/liquidstakeibc/keeper/abci_test.go
  x/liquidstakeibc/keeper/deposit.go
  x/liquidstakeibc/keeper/grpc_querier.go
  x/liquidstakeibc/keeper/invariants_test.go
  x/liquidstakeibc/keeper/keeper_test.go
  x/liquidstakeibc/keeper/msg_server_test.go
  x/liquidstakeibc/keeper/rebalance_test.go
  x/liquidstakeibc/keeper/redelegation.go
  x/liquidstakeibc/keeper/redelegation_txs.go
  x/liquidstakeibc/types/hooks.go
  x/ratesync/genesis.go
  x/ratesync/genesis_test.go
  x/ratesync/keeper/chain_test.go
  x/ratesync/keeper/hooks.go
  x/ratesync/keeper/ibc.go
  x/ratesync/keeper/msg_server.go
  x/ratesync/keeper/msg_server_test.go
  x/ratesync/keeper/query_test.go
  x/ratesync/keeper/setup_suite_test.go
  x/ratesync/module.go
  x/ratesync/module_simulation.go
  x/ratesync/simulation/msg_update_params.go
  x/ratesync/types/expected_keepers.go
  x/ratesync/types/genesis_test.go
  x/ratesync/types/msgs.go
  x/ratesync/types/msgs_test.go
  x/ratesync/types/types.go
Labels: C:app-wiring, C:CLI, C:x/liquidstakeibc, C:x/liquidstake

#713 chore: wrong event data
  x/liquidstake/keeper/msg_server.go
Labels: C:x/liquidstake

#714 chore: remove redundant hooks file.
  x/liquidstake/keeper/hooks.go
Labels: C:x/liquidstake

#715 fix: Stuck unbondings
  CHANGELOG.md
  app/app.go
  app/const.go
  x/liquidstakeibc/keeper/hooks.go
  x/liquidstakeibc/types/events.go
Labels: C:app-wiring, C:x/liquidstakeibc

#717 chore: more tests
  .github/workflows/test.yml
  x/ratesync/keeper/abci_test.go
  x/ratesync/keeper/chain_test.go
  x/ratesync/types/types_test.go
Labels: T:CI, C:x/ratesync

#719 fix: fix hooks and add tests
  CHANGELOG.md
  x/ratesync/keeper/hooks.go
  x/ratesync/keeper/hooks_test.go
  x/ratesync/keeper/ibc_test.go
  x/ratesync/keeper/ica_tx.go
  x/ratesync/keeper/ica_tx_test.go
  x/ratesync/keeper/msg_server_test.go
Labels: C:x/ratesync

#720 fix: Unbondings claim loop
  CHANGELOG.md
  x/liquidstakeibc/keeper/abci.go
  x/liquidstakeibc/types/events.go
Labels: C:x/liquidstakeibc

#724 chore: Puneet/updatemod
  contrib/githooks/precommit
  interchaintest/go.mod
  interchaintest/go.sum
  x/liquidstakeibc/keeper/grpc_querier.go
Labels: T:CI, C:x/liquidstakeibc

#725 fix: Incorrect bookkeeping of validator’s delegated amount upon
  CHANGELOG.md
  x/liquidstakeibc/keeper/ica_handlers.go
Labels: C:x/liquidstakeibc

#726 fix: Unstaking finding
  CHANGELOG.md
  x/liquidstakeibc/keeper/msg_server.go
  x/liquidstakeibc/keeper/msg_server_test.go
Labels: C:x/liquidstakeibc

#727 fix: Send LSM redeem messages in chunks
  CHANGELOG.md
  x/liquidstakeibc/keeper/abci.go
  x/liquidstakeibc/types/keys.go
Labels: C:x/liquidstakeibc

#728 fix: users can be prevented from liquid-staking funds by removin…
  CHANGELOG.md
  x/liquidstakeibc/keeper/deposit.go
Labels: C:x/liquidstakeibc

#729 chore: add rewards balance query on chan open ack
  CHANGELOG.md
  x/liquidstakeibc/keeper/ibc.go
Labels: C:x/liquidstakeibc

#730 fix: genesis validate, deposits validate.
  CHANGELOG.md
  x/liquidstakeibc/types/liquidstakeibc.go
  x/liquidstakeibc/types/liquidstakeibc_test.go
Labels: C:x/liquidstakeibc

#731 fix: Set limit to LSM deposit filtering
  CHANGELOG.md
  x/liquidstakeibc/keeper/ibc.go
  x/liquidstakeibc/keeper/lsm_deposit.go
  x/liquidstakeibc/keeper/lsm_deposit_test.go
  x/liquidstakeibc/types/keys.go
Labels: C:x/liquidstakeibc

#733 chore: more validation on host-chain
  CHANGELOG.md
  x/liquidstakeibc/types/genesis_test.go
  x/liquidstakeibc/types/liquidstakeibc.go
  x/liquidstakeibc/types/liquidstakeibc_test.go
  x/ratesync/keeper/ibc_test.go
Labels: C:x/liquidstakeibc, C:x/ratesync

#734 fix: Host chain duplication check
  CHANGELOG.md
  x/liquidstakeibc/keeper/msg_server.go
  x/liquidstakeibc/keeper/msg_server_test.go
Labels: C:x/liquidstakeibc

#735 chore: add validation for redelegation delta
  x/liquidstakeibc/genesis_test.go
  x/liquidstakeibc/keeper/msg_server.go
  x/liquidstakeibc/types/genesis_test.go
  x/liquidstakeibc/types/liquidstakeibc.go
  x/liquidstakeibc/types/liquidstakeibc_test.go
Labels: C:x/liquidstakeibc

#732 feat: Move c value bounds to per-chain params
  CHANGELOG.md
  app/app.go
  app/const.go
  proto/pstake/liquidstakeibc/v1beta1/liquidstakeibc.proto
  proto/pstake/liquidstakeibc/v1beta1/params.proto
  x/liquidstakeibc/genesis_test.go
  x/liquidstakeibc/keeper/grpc_querier_test.go
  x/liquidstakeibc/keeper/invariants.go
  x/liquidstakeibc/keeper/keeper.go
  x/liquidstakeibc/keeper/keeper_test.go
  x/liquidstakeibc/keeper/msg_server.go
  x/liquidstakeibc/keeper/msg_server_test.go
  x/liquidstakeibc/keeper/setup_suite_test.go
  x/liquidstakeibc/types/genesis_test.go
  x/liquidstakeibc/types/keys.go
  x/liquidstakeibc/types/liquidstakeibc.pb.go
  x/liquidstakeibc/types/msgs.go
  x/liquidstakeibc/types/msgs_test.go
  x/liquidstakeibc/types/params.go
  x/liquidstakeibc/types/params.pb.go
  x/liquidstakeibc/types/params_test.go
Labels: C:app-wiring, C:x/liquidstakeibc

#737 fix: Unhandled errors
  CHANGELOG.md
  x/liquidstakeibc/keeper/abci.go
  x/liquidstakeibc/keeper/hooks.go
  x/liquidstakeibc/keeper/keeper.go
  x/liquidstakeibc/types/msgs.go
Labels: C:x/liquidstakeibc

#739 chore: MaxFee cap is 0.5.
  app/app.go
  x/liquidstakeibc/genesis_test.go
  x/liquidstakeibc/types/genesis_test.go
  x/liquidstakeibc/types/keys.go
  x/liquidstakeibc/types/liquidstakeibc.go
  x/liquidstakeibc/types/liquidstakeibc_test.go
  x/liquidstakeibc/types/msgs.go
  x/liquidstakeibc/types/msgs_test.go
Labels: C:app-wiring, C:x/liquidstakeibc

#741 fix: Code readability
  x/liquidstakeibc/keeper/ibc.go
Labels: C:x/liquidstakeibc

#740 fix: Invariant fix
  x/liquidstakeibc/keeper/invariants.go
  x/liquidstakeibc/keeper/invariants_test.go
Labels: C:x/liquidstakeibc

#742 fix: Remove unused errors
  x/liquidstakeibc/types/errors.go
Labels: C:x/liquidstakeibc

#743 fix: Remove magic numbers
  x/liquidstakeibc/keeper/keeper.go
  x/liquidstakeibc/types/keys.go
Labels: C:x/liquidstakeibc

#749 fix: Validator non-delegable flag
  x/liquidstakeibc/keeper/host_chain.go
Labels: C:x/liquidstakeibc

#748 chore: add host_denom validation.
  x/liquidstakeibc/types/liquidstakeibc.go
  x/liquidstakeibc/types/liquidstakeibc_test.go
Labels: C:x/liquidstakeibc

#750 fix: Shares to tokens
  CHANGELOG.md
  x/liquidstakeibc/keeper/host_chain.go
  x/liquidstakeibc/keeper/msg_server.go
  x/liquidstakeibc/keeper/msg_server_test.go
Labels: C:x/liquidstakeibc

#751 fix: Set LSM bond factor as -1 by default
  CHANGELOG.md
  x/liquidstakeibc/keeper/msg_server.go
Labels: C:x/liquidstakeibc

#752 fix: Use correct existing delegation amount
  CHANGELOG.md
  x/liquidstakeibc/keeper/icq.go
Labels: C:x/liquidstakeibc

#753 fix: Set default bounds
  x/liquidstakeibc/keeper/msg_server.go
Labels: C:x/liquidstakeibc
