Repository persistenceOne/pstake-native, pull requests merged in 2024-05, with the labels that each got.

#822 fix: add msgBeginRedelegate
  CHANGELOG.md
  x/liquidstake/keeper/liquidstake.go
  x/liquidstake/keeper/rebalancing.go
  x/liquidstake/keeper/rebalancing_test.go
  x/liquidstake/types/errors.go
  x/liquidstake/types/expected_keepers.go
Labels: C:x/liquidstake

#835 chore: make `redelegation failed` as info log
  x/liquidstake/keeper/rebalancing.go
Labels: C:x/liquidstake

#841 feat: add validator force update.
  CHANGELOG.md
  x/liquidstakeibc/keeper/icq.go
  x/liquidstakeibc/keeper/icq_queries.go
  x/liquidstakeibc/keeper/icq_queries_test.go
  x/liquidstakeibc/keeper/msg_server.go
  x/liquidstakeibc/keeper/msg_server_test.go
  x/liquidstakeibc/types/keys.go
  x/liquidstakeibc/types/msgs.go
Labels: C:x/liquidstakeibc

#842 feat: move rebalancing to day epoch.
  x/liquidstake/abci.go
  x/liquidstake/keeper/hooks.go
  x/liquidstake/keeper/keeper_test.go
  x/liquidstake/module.go
  x/liquidstake/types/keys.go
Labels: C:app-wiring, C:x/liquidstake

#844 refactor: re-add UpdateLiquidValidatorSet to begin blocker
  x/liquidstake/abci.go
  x/liquidstake/keeper/genesis_test.go
  x/liquidstake/keeper/grpc_query_test.go
  x/liquidstake/keeper/hooks.go
  x/liquidstake/keeper/keeper_test.go
  x/liquidstake/keeper/liquidstake_test.go
  x/liquidstake/keeper/rebalancing.go
  x/liquidstake/keeper/rebalancing_test.go
  x/liquidstake/module.go
  x/liquidstake/types/liquidstake_test.go
  x/liquidstake/types/tx.pb.go
Labels: C:app-wiring, C:x/liquidstake
